

:root {
    --primary-orange: #F1B41B;
    --primary-orange-shadow: #d6a21d;
    --primary-blue: #00407E;
    --primary-white: #FFFFFF;
    --primary-black: #000000;
    --gray: #231F20;
    --light-gray: #BFBEBB;
    --light-orange: #FFFDFA;

    /* 優先等級: 最高, 如: 上方導覽列 */
    --z-index-top1-nav: 999;
    /* 優先等級: 次高, 如: 輪播點選bar, 畫面內點選按鈕 */
    --z-index-top2-click: 900;
    /* 優先等級: 中等, 初始 */
    --z-index-top3-defalut: 500;
    /* 優先等級: 底層, 如: 底圖 */
    --z-index-top4-background: 1;

    /* 網頁標頭 大標題, 移動標題 */
    --h1-desktop-and-large: 7rem;
    --h1-laptop-and-pad: 6rem;
    --h1-mobile: 2.5rem;
    /* 每個 區塊section 次標題h2: 報價流程, 服務項目, 作品集 */
    --h2-desktop-and-large: 5rem;
    --h2-laptop-and-pad: 4rem;
    --h2-mobile: 2.5rem;
    /* 每個 區塊section 第三標題 h3 */
    --h3-desktop-and-large: 1.75rem;
    --h3-laptop-and-pad: 1.5rem;
    --h3-mobile: 1.25rem;
    /* 合作流程 h3 客製設定 => h2 0.8倍縮小 */
    --h3-flow-slide-desktop-and-large: calc(var(--h2-desktop-and-large)*0.5);
    --h3-flow-slide-laptop-and-pad: calc(var(--h2-laptop-and-pad)*0.5);
    --h3-flow-slide-mobile: calc(var(--h2-mobile)*0.5);
    /* 內文 */
    --p-desktop-and-large: 1.25rem;
    --p-laptop-and-pad: 1.25rem;
    --p-mobile: 0.8rem;
    /* 網頁標頭 slogan */
    --p-slogan-desktop-and-large: calc(var(--p-desktop-and-large)*1.2);
    --p-slogan-laptop-and-pad: calc(var(--p-laptop-and-pad)*1.2);
    --p-slogan-mobile: calc(var(--p-mobile)*1.2);
    /* 作品集 輪播圖 tab p內文 客製設定,圓角比例 => 比一般p 縮小 0.8 */
    --p-portfolio-tab-size-desktop-and-large: calc(var(--p-desktop-and-large)*0.8);
    --p-portfolio-tab-height-desktop-and-large: calc(var(--p-desktop-and-large)*1.2); /* radius比例 */
    --p-portfolio-tab-size-laptop-and-pad: calc(var(--p-laptop-and-pad)*0.8);
    --p-portfolio-tab-height-laptop-and-pad: calc(var(--p-laptop-and-pad)*1.2); /* radius比例 */
    --p-portfolio-tab-size-mobile: calc(var(--p-mobile)*0.8);
    --p-portfolio-tab-height-mobile: calc(var(--p-mobile)*1.2); /* radius比例 */
}



h2 {
    font-size: var(--h2-desktop-and-large);
    font-family: "DFPZongYiW9-B5";
    font-weight: 400;
}


.price-work-flow {
    position: relative;
    background: var(--light-orange);

    min-width: 320px;
    min-height: 700px; /* 避免 瀏覽器 高度過矮 被擠壓破版 */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    /* text-align: center; */
}

.price-work-flow .price-work-flow-title {
    margin-top: 1%;
    font-family: "DFPZongYiW9-B5";
    font-weight: 400;
    -webkit-text-stroke: 1px var(--primary-blue); /* 邊框 */
    color: var(--primary-blue);
    opacity: 1;
}

.price-work-flow .left-little-img {
    position: absolute;
    top: 35%;
    left: 10%;
    width: 100px;
    z-index: var(--z-index-top4-background);
}

.price-work-flow .right-img {
    position: absolute;
    top: 10%;
    right: 5%;
    width: 500px;
    z-index: var(--z-index-top4-background);
}

.price-work-flow p {
    max-width: 80%;
    color: var(--gray);
    line-height: 25px;
    padding: 2px 0;
    margin-top: 2%; /* 上方距離 */
}

.price-work-flow-slide {
    max-width: 80%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.price-work-flow-slide .flow-tab-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;

    z-index: var(--z-index-top2-click);
    position: relative;

    font-size: var(--h3-desktop-and-large);
    color: var(--gray);
    gap: 2rem;
}

.price-work-flow-slide .flow-tab-list .flow-tab {
    width: var(--h2-desktop-and-large);
    z-index: var(--z-index-top2-click);
}

.price-work-flow-slide .flow-tab-list .fa-arrow-right {
    font-size: var(--p-desktop-and-large);
}
.price-work-flow-slide .flow-tab-list .fa-arrow-down {
    display: none;
}

.flow-slide-list {
    position: relative;
    width: 800px;
    height: 250px;

    list-style: none;
    margin: 0;
    padding: 0;

    overflow: hidden;

}

.price-work-flow-bounce-bottom-box {
    height: 5px;
    width: 7%;
    position: relative;
    bottom: -2px;
    left: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.price-work-flow-bounce-bottom {
    height: 5px;
    width: 100%;
    border-radius: 2.5px;
    background: var(--primary-blue);
}

/* yoyoyo */
.slide h3 {
    font-size: var(--h3-flow-slide-desktop-and-large);
    font-family: "jf-openhuninn-2.0";
    font-weight: 400;
    -webkit-text-stroke: 1px var(--primary-orange); /* 邊框 */
    color: var(--primary-orange);
    margin-top: 0;
}

.slide {
    margin: 0;
    padding: 0;
    width: inherit;
    height: inherit;

    position: absolute;
    top: -20px;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* 字體調整 */
    font-family: Helvetica;
    color: var(--primary-white);
    z-index: var(--z-index-top2-click);

    /* 圖片輪播移動效果 */
    transition: .5s transform ease-in-out;
}

.slide:nth-of-type(1) {
    left: 0;
}

.slide:nth-of-type(2) {
    left: 100%;
}

.slide:nth-of-type(3) {
    left: 200%;
}

.slide:nth-of-type(4) {
    left: 300%;
}

input[type="radio"] {
    position: relative;
    display: none;
}

.flow-button-icon-list {
    position: absolute;
    width: 100%;
    bottom: 12px;
    text-align: center;
    z-index: var(--z-index-top2-click);
}

.flow-button-icon-list label {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: var(--primary-orange);
    border-radius: 5px;

    transition: 0.25s;
}

.flow-button-icon-list label:nth-of-type(1) {
    width: 20px;
}


