
body {
    background: #212121;
    color: #fff;
}

input {
    font-size: 3em;
    width: 200px;
    height: 50px;
    border-radius: 10px;
}


/* //////////////////////////////////////////// */

/* 若超出範圍, 改變顏色 */
input:out-of-range:focus {
    background: gold;
}

/* 若超出範圍, 使用css顯示結果 */
input:out-of-range + h2::after {
    content: "超出範圍拉！！！";
}


/* //////////////////////////////////////////// */

.ch2-box {
    display: flex;
}

input::after { 
    content: "已勾選"; 
    color: gold;
    width: 150px;
    height: 50px;
    display: none;
}

input:checked::after {
    display: block;
}



/* //////////////////////////////////////////// */


li:nth-child(2n) {
    color: gold;
}
li::first-letter {
    color: red;
}



/* //////////////////////////////////////////// */

