/* 
    滑鼠滾動 on scroll 動畫效果
 */

 .up.animate {
    transform:  translateY(150px);
}
.left.animate {
    transform:  translateX(-100px);
}
.right.animate {
    transform:  translateX(100px);
}
:where(.up, .left, .right).animate > * {
    opacity: 0;
    transition: 1s;
}
:where(.up, .left, .right).animate.this > * {
    opacity: 1;
    transform: translateY(0) translateX(0);
}




