@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

:root{
  --pink:#EE0548;
  --black:#130f40;
  --white:#fff;
  --box-shadow:0 .5rem 1rem rgba(0,0,0,.9);
}

*{
  font-family: 'Nunito', sans-serif;
  margin:0; padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none; border:none;
  transition: .2s linear;
  text-transform: capitalize;
}

*::selection{
  background:var(--pink);
  color:var(--white);
}

::-webkit-scrollbar{
  width: 1rem;
}

::-webkit-scrollbar-track{
  background-color: var(--black);
}

::-webkit-scrollbar-thumb{
  background-color: var(--white);
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6.5rem;
  scroll-behavior: smooth;
}

body{
  background:var(--black);
}

section{
  padding:2rem 3rem;
  margin: 0 auto;
  max-width: 1200px;
}

.btn{
  display: inline-block;
  margin-top: 1rem;
  border:.2rem solid var(--black);
  color:var(--black);
  font-size: 1.7rem;
  padding:1rem 3rem;
  cursor: pointer;
  background: none;
  border-radius: 5rem;
}

.btn:hover{
  background: var(--pink);
  border-color: var(--pink);
  color:var(--white);
}

.heading{
  padding-bottom: 2rem;
  text-align: center;
}

.heading h1{
  font-size: 4rem;
  color:var(--white);
  padding-bottom: 1rem;
  text-transform: uppercase;
}

.header{
  position: fixed;
  top:0; left: 0; right: 0;
  z-index: 10000;
  background:var(--pink);
}

.header .flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .flex .logo{
  font-size: 2.5rem;
  color:var(--white);
  font-weight: bolder;
}

.header .flex .navbar a{
  color:var(--white);
  font-size: 2rem;
  margin-left: 2rem;
}

.header .flex .navbar a:hover{
  color:var(--black);
}

#menu-bar{
  font-size:3rem;
  color:var(--white);
  border-radius: .5rem;
  border:.1rem solid var(--white);
  padding:.5rem 1.5rem;
  cursor: pointer;
  display: none;
}

.home{
  background:url(../images/home-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.home .flex{
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.home .flex .content{
  max-width:60rem;
}

.home .flex .content p{
  margin-bottom: 1rem;
  font-size: 3rem;
  color:var(--pink);
}

.home .flex .content h3{
  font-size: 6rem;
  color:var(--black);
  line-height: 1.1;
  margin: 1rem 0;
}

.step-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, 35rem);
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}

.step-container .step{
  background:var(--white);
  padding:3rem 2rem;
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  text-align: center;
}

.step-container .step span{
  font-size: 6rem;
  color:var(--pink);
  font-weight: bolder;
}

.step-container .step h3{
  font-size: 2.5rem;
  color:var(--black);
  margin-top: .5rem;
}

.step-container .step p{
  font-size: 1.5rem;
  color:#666;
  padding:1rem 0;
  line-height: 1.8;
}

.vendor .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, 35rem);
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}

.vendor .box-container .box{
  overflow: hidden;
  position: relative;
  border-radius: .5rem;
  box-shadow:var(--box-shadow);
  height: 25rem;
  cursor: pointer;
}

.vendor .box-container .box img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.vendor .box-container .box .info{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top:0; left: 0;
  height: 100%;
  width: 100%;
  background:rgba(255,255,255,.8);
  text-align: center;
  transform: scale(1.3);
  opacity: 0;
  padding: 2rem;
}

.vendor .box-container .box:hover .info{
  transform: scale(1);
  opacity: 1;
}

.vendor .box-container .box:hover img{
  transform: scale(1.3);
}

.vendor .box-container .box .info h3{
  font-size: 3rem;
  color:var(--pink);
  margin-bottom: .5rem;
}

.vendor .box-container .box .info p{
  font-size: 1.6rem;
  color:#333;
  padding:.5rem 0;
  line-height: 1.8;
}

.clients .row{
  display: flex;
}

.clients .row .divider{
  padding:0 1rem;
}

.clients .row .box-container .box img{
  height: 30rem;
  width:100%;
  object-fit: cover;
  border-radius: .5rem;
  border:1.5rem solid var(--white);
  box-shadow: var(--box-shadow);
}

.clients .row .box-container .box .info{
  padding:2rem 0;
}

.clients .row .box-container .box .info h3{
  font-size: 2.5rem;
  color:var(--white);
}

.clients .row .box-container .box .info p{
  font-size: 1.7rem;
  color:#aaa;
  padding:1rem 0;
  font-style: italic;
  line-height: 1.8;
}

.clients .row .box-container .box .info p i{
  color:var(--pink);
  padding:0 .5rem;
}

.team .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, 35rem);
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}

.team .box-container .box{
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  background:var(--white) url(../images/card-bg.png) no-repeat;
  padding:5rem 2rem;
  text-align: center;
  background-size:cover;
  background-position: center;
}

.team .box-container .box img{
  border-radius: 50%;
  object-fit: cover;
  height: 10rem;
  width:10rem;
  margin-bottom: .5rem;
}

.team .box-container .box h3{
  font-size: 2.5rem;
  color:var(--black);
}

.team .box-container .box span{
  font-size: 2rem;
  color:var(--pink);
}

.team .box-container .box p{
  font-size: 1.6rem;
  color:#333;
  padding:1rem 0;
  line-height: 1.8;
}

.team .box-container .box .share{
  margin-top: 1rem;
}

.team .box-container .box .share a{
  height: 4rem;
  width:4rem;
  line-height: 4rem;
  font-size: 2rem;
  color:var(--black);
  background:#eee;
  margin: 0 .2rem;
  border-radius: .5rem;
}

.team .box-container .box .share a:hover{
  color:var(--white);
  background: var(--pink);
}

.contact form{
  padding:2rem;
  background: var(--white);
  border-radius: .5rem;
  box-shadow:var(--box-shadow);
  text-align: center;
}

.contact form .inputBox{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .inputBox input, .contact form textarea{
  border:.2rem solid rgba(0,0,0,.1);
  font-size: 1.7rem;
  padding: 1.5rem;
  margin: 1rem 0;
  text-transform: none;
  color:#333;
}

.contact form .inputBox input{
  width:49%;
}

.contact form textarea{
  height: 15rem;
  width:100%;
  resize: none;
}

.contact form .inputBox input::placeholder,
.contact form textarea::placeholder{
  text-transform: capitalize;
}

.contact form .inputBox input:focus,
.contact form textarea:focus{
  border-color: var(--pink);
}

.blog .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, 35rem);
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}

.blog .box-container .box{
  background:var(--white);
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  overflow: hidden;
}

.blog .box-container .box img{
  height:20rem;
  width:100%;
  object-fit: cover;
}

.blog .box-container .box .info{
  padding:2rem;
}

.blog .box-container .box .info h3{
  color:var(--black);
  font-size: 2.5rem;
  margin-bottom: .5rem;
}

.blog .box-container .box .info h3 span{
  color:var(--pink);
  font-weight: bolder;
}

.blog .box-container .box .info p{
  color: #333;;
  font-size: 1.5rem;
  padding:.5rem 0;
  line-height: 1.8;
}

.footer{
  font-size: 2rem;
  color:var(--black);
  background:var(--white);
  text-align: center;
  padding:2.5rem 2rem;
}

.footer span{
  color:var(--pink);
}












/* media queries  */

@media (max-width:1200px){

  html{
    font-size: 55%;
  }

}

@media (max-width:991px){

  html{
    font-size: 55%;
  }

}

@media (max-width:768px){

  #menu-bar{
    display: block;
  }

  .header .flex .navbar{
    position: absolute;
    top:100%; left: 0; right: 0;
    background:var(--black);
    padding:1rem 0;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .flex .navbar.nav-toggle{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .header .flex .navbar a{
    display: block;
    background:var(--white);
    border-radius: .5rem;
    color:var(--black);
    margin:1.5rem;
    padding:1rem 2rem;
    font-size: 2.5rem;
  }

  .home{
    background-position: left;
  }

  .home .flex{
    justify-content: center;
  }

  .home .flex .content{
    text-align: center;
  }

  .home .flex .content p{
    font-size: 2rem;
  }

  .home .flex .content h3{
    font-size: 4rem;
  }

  .clients .row{
    flex-flow: column;
  }

  .clients .row .divider{
    display: none;
  }

  .clients .row .box-container:last-child .box{
    display: flex;
    flex-flow: column-reverse;
  }

  .contact form .inputBox input{
    width:100%;
  }

}


@media (max-width:450px){

  html{
    font-size: 50%;
  }

}
