/* 共用設定 start */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    /* food-check 全雞餐庭 輪播圖 start */
    --green:#27ae60;
    --black:#192a56;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    /* food-check 全雞餐庭 輪播圖 end */

        
    --white:#fff;
    --light-white:rgba(255,255,255,.6);
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

section{
    padding:4rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}
/* 共用設定 end */



/* food-check 全雞餐庭 輪播圖 start */
.food-check-home .home-slider .slide{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem; 
    padding-top: 9rem;
}

.food-check-home .home-slider .slide .content{
    flex:1 1 45rem;
}

.food-check-home .home-slider .slide .image{
    flex:1 1 45rem;
}

.food-check-home .home-slider .slide .image img{
    width: 100%;
}

.food-check-home .home-slider .slide .content span{
    color:var(--green);
    font-size: 2.5rem;
}

.food-check-home .home-slider .slide .content h3{
    color:var(--black);
    font-size: 7rem;
}

.food-check-home .home-slider .slide .content p{
    color:var(--light-color);
    font-size: 2.2rem;
    padding:.5rem 0;
    line-height: 1.5;
}

.food-check-home .btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color:#fff;
    background: var(--black);
    border-radius: .5rem;
    cursor: pointer;
    padding:.8rem 3rem;
}

.food-check-home .btn:hover{
    background: var(--green);
    letter-spacing: .1rem;
}


.swiper-pagination-bullet-active{
    background:var(--green);
}
/* food-check 全雞餐庭 輪播圖 end */




/* app-lading 活動企劃 立體輪播圖 start */
.home{
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    text-align: center;
}
  
  .home .content{
    margin-bottom: 5rem;
  }
  
  .home .content h3{
    font-size: 6.5rem;
    color:var(--white);
  }
  
  .home .content p{
    font-size: 1.8rem;
    color:var(--light-white);
    padding:.5rem 0;
    line-height: 1.8;
    max-width:70rem;
    margin:0 auto;
  }
  
  .home .swiper-container {
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  
  .home .swiper-slide {
    width: 30rem;
    height: 50rem;
  }
  
  .home .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
  }
  
/* app-lading 活動企劃 立體輪播圖 end */

