

    /* 專欄文章 */
    .column-article-section {
        display: flex;
        flex-direction: column;
        justify-content: flex-start; 
        align-items: center;       
        background: #FFFFFF;
        padding: 50px 0;
    }
    .column-article-display {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 50px;
    }
    .column-article-abstract {
        min-width: 300px;
    }
    .column-article-abstract h3,p {
        margin: 40px 0;
    }
    .column-article-list {
        min-width: 400px;
        flex-grow: 1; /* 使 title-line 佔滿剩下空間 */
        padding-bottom: 100px;
    }
    .column-article-item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 15px;
        padding: 20px;
        border-bottom: 2px solid #1FA03B;
    }
    .column-article-item:last-child {
        border-bottom: none;
    }
    .column-article-item img {
        height: 200px;
    }
    .column-article-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 15px;
    }
    .column-article-info .tab-white {
        color: #1FA03B;
    }
    .column-article-info p {
        color: #1FA03B;
    }


    @media (min-width: 992px) {
        .column-article-abstract {
            width: 20%;
        }
    }
    @media (max-width: 992px) {
        .column-article-abstract {
            width: 100%;
        }
    }
    @media (max-width: 414px) {
        .column-article-abstract {
            width: 100%;
        }
        .column-article-item {
            width: 80%;
            flex-direction: column;
            align-items: center;
        }
        .column-article-item img {
            width: 100%;
        }
    }
