
        /* 頁尾 */
        .footer-container {
            position: relative;
            bottom: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            background: #DCF0DB;
        }
        .footer-map {
            width: 100%;
        }
        .footer-info {
            position: relative;
            background: white;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            padding: 50px;
            border: 5px solid #1FA03B;
            border-radius: 24px;
        }
        .link-list {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            border-bottom: 2px dashed #cfcfcf;
        }
        .footer-logo-container {
            width: 100%;
            height: 0;
            display: flex;
            flex-direction: row;
        }
        .footer-logo-container img {
            height: 90px;
            width: auto;
            transform: translateY(-120%);            
        }
        .link-item-col {
            font-size: 24px;
            font-weight: 700;
        }
        .link-item-col .link-item {
            font-size: 18px;
            font-weight: 400;
            padding: 4px;
        }        
        .contact-list {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 20px;
        }
        .contact-item-col {
            font-size: 24px;
            font-weight: 700;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 15px;
            gap: 8px;
        }
        .contact-item-col:last-child {
            border-right: none;
        }
        .contact-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 15px;
        }
        .footer-phone-row {
            font-size: 32px;
            font-weight: 700;
            color: #1FA03B;
        }
        .contact-item img {
            display: flex;
        }
        .green-item {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 16px;
            font-weight: 700;
            padding: 8px 26px;
            color: #1FA03B;
            border: 2px solid #1FA03B;
            border-radius: 26px;
            gap: 8px;
        }
        
        /* RWD 調整 start */
        @media (min-width: 992px) {
            /* 頁尾 */
            .footer-info { 
                width: 60%;
                top: 40%;
                left: 10%;
            }
            .footer-logo-container {
                justify-content: flex-start;
            }
            .link-list-empty {
                width: 25%;
            }
            .contact-item-col {
                width: 30%;
                border-right: 2px dashed #cfcfcf;
            }
        }
        @media (max-width: 992px) {
            /* 頁尾 */
            .footer-logo-container {
                justify-content: center;
            }
            .footer-info { 
                width: 70%;
            }
            .link-list {
                flex-wrap: wrap;
            }
            .link-item-col {
                width: 45%;
            }
            .contact-list {
                flex-direction: column;
            }
            .contact-item-col {
                width: 100%;
                border-bottom: 2px dashed #cfcfcf;
            }
        }
        @media (max-width: 414px) {
            /* 頁尾 */
            .footer-logo-container {
                justify-content: center;
            }
            .footer-info { 
                width: 60%;
            }
            .link-list {
                flex-wrap: wrap;
            }
            .link-item-col {
                width: 45%;
            }
            .contact-item-col {
                width: 100%;
                border-bottom: 2px dashed #cfcfcf;
            }
        }