

        /* 網頁標頭 動畫 */
        .header-section {
            position: relative;    
            background: linear-gradient(to bottom, #C0E7EF, #E9F6EC);
        }
        .header-section .bg-kaoshiung {
            position: absolute;
        }    
        .header-section .len-portrait {
            position: absolute;
        }
        .header-section .green-wave {
            position: absolute;
            height: auto;
            bottom: 0;
        }

        
        /* RWD 調整 start */
        @media (min-width: 992px) {
            .header-section {
                height: 1000px;
                min-height: 900px;
            }
            .header-section .bg-kaoshiung {
                max-width: 50%;
                min-width: 400px;
                top: 18%;
                left: 15%;
            }   
            .header-section .len-portrait {
                max-width: 28%;
                min-width: 200px;
                bottom: 3.5%;
                right: 6%;
            }
        }
        @media (max-width: 992px) {
            .header-section {
                height: 1100px;
            }
            .header-section .bg-kaoshiung {
                max-width: 80%;
                top: 18%;
                left: 13%;
            }   
            .header-section .len-portrait {
                max-width: 300px;
                right: 6%;
                bottom: 1%;
            }
        }
        @media (max-width: 414px) {
            .header-section {
                height: 500px;
            }
            .header-section .bg-kaoshiung {
                max-width: 98%;
                left: 5%;
            }   
            .header-section .len-portrait {
                max-width: 300px;
            }
        }
