


        /* 導覽列 */
        .nav-content {
            position: absolute;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center; 
            z-index: 999;
            width: 80%;
        }
        .nav-content img {
            width: 180px;
        }
        .nav-content .item-list {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }        
        .nav-content .item-list .item {
            position: relative;
            padding: 0 10px;
            font-size: 18px;
            font-weight: 700;
        }

        .nav-content .item-list .item .item-sub1-list {
            display: none;
            position: absolute;
            bottom: -150px;
            background: white;
            width: 100%;
            border: 2px solid #1FA03B;
            border-radius: 0 0 20px 20px;
        }

        .nav-content .item-sub1-list .item-sub1 {
            position: relative;
            padding: 10px 15px;
        }

        .nav-content .item-sub2-list {
            display: none;
            position: absolute;
            top: -2px;
            right: -100px;
            background: white;
            width: 100px;
            background: #1FA03B;
            border: 2px solid #1FA03B;
            border-radius: 0 0 20px 20px;
        }

        .nav-content .item-sub2-list .item-sub2 {
            position: relative;
            padding: 10px 15px;
            color: white;
        }
        
        
        /* RWD 調整 start */
        @media (min-width: 992px) {
            .nav-content {
                padding: 30px 100px;
            }
        }
        @media (max-width: 992px) {
            .nav-content {
                padding: 20px 40px;
            }
        }
        @media (max-width: 414px) {
        }


