
        /* 最新物件 */
        .new-house-section {
            background: #8DD59C;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            padding-bottom: 100px;
        }
        .new-house-list {
            width: 80%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            padding: 50px 0;
        }
        .new-house-item {
            position: relative;
            width: 20%;
            min-width: 280px;
            background: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-radius: 24px;
            margin: 20px;
        }
        .new-house-tag {
            position: absolute;
            top: 5%;
            left: 5%;
            background: #1FA03B;
            color: white;
            padding: 8px 16px;
            border-radius: 100px;
        }
        .new-house-item img {
            border-radius: 24px 24px 0 0;
            overflow: hidden;
        }
        .new-house-info {
            display: flex;
            flex-direction: column;
            padding: 20px;
            gap: 10px;
        }
        .house-name {
            font-size: 18px;
            font-weight: 700;
        }
        .house-address {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 5px;
        }
        .house-attr {
            padding: 5px 0;
        }
        .house-price {
            font-size: 36px;
            font-weight: 700;
            text-align: right;
        }