

        /* 最新消息 */
        .news-section {
            height: 1000px;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            background: #C7E7CE;
        }
        .bg-house {
            position: absolute;
            bottom: -450px;
            width: 100%;
        }
        .coursal-news {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            margin-top: 50px;
        }
        /* 消息文字 */
        .news-info-container {
            position: relative;
            overflow: hidden;
            border: 2px solid #1FA03B;
        }
        .news-info-list {
            position: absolute;
            width: 2000px;
            height: inherit;
        }
        .news-info-item {
            background: white;
            box-sizing: border-box;
            padding: 50px;
            display: inline-block;
            margin-right: -4px; /* 移除由於 inline-block 造成的換行符空白 */
        }
        .news-info-item h3 {
            font-size: 28px;
            font-weight: 700;
        }
        .news-info-item p {
            font-size: 18px;
            font-weight: 500;
        }
        .btn-bar {
            position: absolute;
            left: 250px;
            bottom: -25px;
            display: flex;
            flex-direction: row;
            gap: 4px;
        }        
        /* 消息圖 */
        .news-svg-container {
            position: relative;
            overflow: hidden;
        }
        .news-svg-list {
            position: absolute;
            width: 5000px;
            height: inherit;
        }
        .news-svg {
            display: inline-block;
            margin-right: -4px; /* 移除由於 inline-block 造成的換行符空白 */
        }



        @media (min-width: 992px) {
            /* 消息文字 */          
            .news-info-container {
                width: 450px;
                height: 400px;
                border-radius: 20px 0 0 20px;
            }
            .news-info-list {
                height: 400px;
            }
            .news-info-item {
                width: 450px;
                height: 400px;
            }
            .news-svg-container {
                width: 680px;
                height: 480px;
            }
            .news-svg {
                width: 680px;
            }
            .btn-bar {
                bottom: -25px;
            }
            .bg-house {
                bottom: -600px;
            }
        }
        @media (max-width: 992px) {
            .coursal-news {
                flex-direction: column-reverse;
                justify-content: center;
                height: 650px;
            }
            /* 消息文字 */
            .news-info-container {
                width: 400px;
                height: 350px;
                border-radius: 0 0 20px 20px;
            }
            .news-info-item {
                width: 400px;
                height: 350px;
            }
            .news-svg-container {
                width: 400px;
                height: 450px;
            }
            .news-svg {
                width: 400px;
                height: 450px;
            }
            .btn-bar {
                bottom: -25px;
            }
        }
        @media (max-width: 414px) {
            .coursal-news {
                flex-direction: column-reverse;
                justify-content: center;
                height: 700px;
            }
            /* 消息文字 */
            .news-info-container {
                width: 400px;
                height: 380px;
                border-radius: 0 0 20px 20px;
            }
            .news-info-item {
                width: 400px;
                height: 380px;
            }
            .news-svg-container {
                width: 400px;
                height: 450px;
            }
            .news-svg {
                width: 400px;
                height: 450px;
            }
            .btn-bar {
                bottom: -25px;
            }
        }

