
.services-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 80px 0;
    width: 100%;
}

.services-list {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
}

.service-item {
    width: 40%;
    box-sizing: border-box;
    border: 5px solid #1FA03B;
    border-radius: 30px;
    background: white;
    padding: 70px 50px;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
}
.servcie-icon {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px; /* 設定圖片父容器的寬度 */
    height: 100px; /* 設定圖片父容器的高度 */
}
.servcie-icon img {
    width: 100%;
}
.service-intro {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
}
.service-info {
    width: 30%;
}
.service-portait {
    width: 40%;
    transform: translateY(-10%);
}
.service-portait img {
    width: 100%;
}
.green-wave-right {
    width: 100%;
    position: absolute;
    bottom: -10px;
}



@media (max-width: 992px) {
    .service-item {
        min-width: 400px;
    }
    .service-info {
        min-width: 350px;
    }
    .service-portait {
        min-width: 350px;
        transform: translateY(5%);
    }
}
@media (max-width: 414px) {
    .services-list {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .service-item {
        width: 80%;
    }
    .service-intro {
        flex-direction: column;
    }
    .service-info {
        width: 80%;
    }
    .service-portait {
        width: 80%;
        transform: translateY(10%);
    }
}
