        /* 共用功能 */
        * {
            padding: 0;
            margin: 0;
        }
        .cus-section {
            height: 100vh;
            min-height: 900px;
        }
        /* 主按鈕 */
        .btn-primary {
            background:#1FA03B;
            color: white;
            font-size: 20px;
            padding: 10px 20px;
            border-radius: 40px;
            display: inline-block;
        }
        /* 標籤 */
        .tab-white {
            background: white;
            border: 2px solid #1FA03B;
            font-size: 15px;
            padding: 5px 10px;
            border-radius: 20px;
            display: inline-block;
        }
        /* 會走的綸 */
        .len-walk {
            position: absolute;
            max-width: 80px;
            left: 10%;
            bottom: 2%;
            z-index: 999;
        }

            
        /* 共用 h2 標題 */
        .title-scetion {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 80%;
            padding: 20px;
        }
        .title-scetion img {
            width: 30px;
            margin: 0 5px;
        }
        .title-scetion h2 {
            background: rgb(255,255,255);
            background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(255,255,0,1) 50%, rgba(255,255,0,1) 100%);
            display: inline;
            white-space: nowrap; /* 防止 h2 換行 */
            margin: 0 5px;
        }
        .title-scetion .title-line {
            flex-grow: 1; /* 使 title-line 佔滿剩下空間 */
            border-bottom: 2px solid #1FA03B;
            transform: translateY(-50%);
            margin: 0 5px;
        }


        /* RWD 調整 start */
        @media (min-width: 992px) {
        }
        @media (max-width: 992px) {
        }
        @media (max-width: 414px) {
            /* 會走的綸 */
            .len-walk {
                display: none;
            }
        }
