
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.tab-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.computer-background-img {
    width: 690px;    
    height: 450px;       
    background-image:
        url("./bg-computer.png");
    background-position: center; /* ?? 中央底圖 */
    background-size: cover;     /* ?? 中央底圖 */
    position: relative;
}

.slide-list {
    position: relative;
    top: 50px;
    left: 118px;

    width: 445px;    
    height: 290px;     
    background-color: #eee;

    list-style: none;
    margin: 0;
    padding: 0;

    overflow: hidden;
}

.slide {
    margin: 0;
    padding: 0;
    width: inherit;
    height: inherit;

    position: absolute;
    top: 0;
    left: 0;


    /* flex如下三個常見效果，置中: */
    display: flex;
    justify-content: center;
    align-items: center;


    /* 字體調整 */
    font-family: Helvetica;
    font-size: 120px;
    color: #fff;


    /* 圖片輪播移動效果 */
    transition: .5s transform ease-in-out;
}

.slide:nth-of-type(1) {
    background-color: red;
}

.slide:nth-of-type(2) {
    background-color: yellow;
    left: 100%;
}

.slide:nth-of-type(3) {
    background-color: blue;
    left: 200%;
}

input[type="radio"] {
    position: relative;
    z-index: 100;

    display: none;
}

.controls-visible {
    position: absolute;
    width: 100%;
    bottom: 12px;
    text-align: center;
}

.controls-visible label {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #fff;
}

.tab-list .tab {
    width: 100px;
    height: 100px;
    background: lightblue;
}

/*         

使用 css Selector 選擇器 讓 下方選單radio 做樣式改變
    1. input[..= radio ] :nth-of-type(1):checked 判斷第幾個 radio 被選擇 
    2. 使用 ~ 符號對應同層的 label

*/

input[type="radio"]:nth-of-type(1):checked~.controls-visible label:nth-of-type(1) {
    background-color: black;
}

input[type="radio"]:nth-of-type(2):checked~.controls-visible label:nth-of-type(2) {
    background-color: black;
}

input[type="radio"]:nth-of-type(3):checked~.controls-visible label:nth-of-type(3) {
    background-color: black;
}

/*         
使用 CSS Selector 選擇器 讓 三張卡片左右位移

*/
input[type="radio"]:nth-of-type(1):checked ~.slide{
    transform: translateX(0%);            
}
input[type="radio"]:nth-of-type(2):checked ~.slide{
    transform: translateX(-100%);            
}
input[type="radio"]:nth-of-type(3):checked ~.slide{
    transform: translateX(-200%);            
}