
* {
}
.container {
    width: 100%;
    height: 100vh;
    border: 1px solid blue;
}
body {
    width: 100%;
}

.img1 {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99;
}
.img2 {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99;
    border: 1px solid green;
}

.color-box {
    background: red;
    height: 50vh;
    width: 20%;
}

.color-box:hover {
    right:1000px;
    transition: 5s;
}



