
/* 共用設定 start */
:root {
    --primary-color: #fed330;
    --secondary-color: #fff2525;
    --white-color: #ffffff;
    --light-color: #f4f4f4;
    --grey-color: #979b9d;
    --dark-color: #171820;
    --trans-back-co: background-color .3s, color .3s;
    --trans-co: color .3s;    
} 

* {
    margin: 0;
    padding: 0;
}

*, ::before, ::after {
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    color: var(--dark-color);
    background-color: var(--white-color);
}

a {
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: transparent; /* 棄用 */
}

img {
    max-width: 100%;
    vertical-align: middle;
}
ul {
    list-style: none;
}
strong {
    font-weight: 600;
}
h1, h2, h3, h4 {
    font-weight: 500;
    line-height: normal;
}
h1 {font-size: 2.5rem;}
h2 {font-size: 2rem;}
h3 {font-size: 1.5rem;}
h4 {font-size: 1rem;}

.container {
    max-width: 1100px;
    padding: 0 2em;
    margin: 0 auto;
}

/* 
    滑鼠滾動 on scroll 動畫效果 start
 */

.up.animate {
    transform:  translateY(150px);
}
.left.animate {
    transform:  translateX(-100px);
}
.right.animate {
    transform:  translateX(100px);
}
:where(.up, .left, .right).animate > * {
    opacity: 0;
    transition: 1s;
}
:where(.up, .left, .right).animate.this > * {
    opacity: 1;
    transform: translateY(0) translateX(0);
}
/* 滑鼠滾動 on scroll 動畫效果 en */

/* 共用設定 end */



/* header start */

header {
    position: relative;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000px;
    background-color: var(--dark-color);
    z-index: -1;
}


