
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
}



$crimson : crimson;
$black : #0d0d0d;
$light-bg: #1a1a1a;
$white : #fff;
$light-color: #aaa;
$box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .7);


html {

    /* overflow-x: hidden; */
}

body {
    background: #0d0d0d;
    padding-bottom: 6.5rem;
}


section {
    padding: 5rem 9%;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: crimson;
    padding: 0.7rem;
    font-size: 2rem;
    color: #fff;
    padding-left: 2rem;

    i {
        height: 3rem;
        width: 3rem;
        line-height: 3rem;
        font-size: 1.7rem;
        text-align: center;
        background: #fff;
        color: crimson;
        border-radius: 50%;
        margin-left: 1rem;
        transition: 0.2s linear;
    }

    &:hover i{
        margin-left: 3rem;        
    }

}

.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    z-index: 1000;
    align-items: flex-end;

    a {
        padding: 1.5rem;
        font-size: 1.5rem;
        background: #1a1a1a;
        flex: 1;
        color: #fff;
        text-align: center;
        transition: 0.2s linear;

        i {
            color: crimson;
            padding-right: 0.5rem;
        }

        &:hover {
            background: crimson;
            padding-bottom: 3rem;            
        }

        &:hover i {
            color: #fff;            
        }
    }
}

.heading {
    text-align: center;
    color: #fff;
    font-size: 7rem;
    margin-bottom: 3rem;

    span {
        color: crimson;
    }
}





    /* 滑鼠滾動 進度條 start  */
    .scroll-progress-bar {
        position: absolute;
        top: 50px;
        left: 0;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
        background: crimson;   
        height: .8rem; 
        width: 20px;
        z-index: 100;
    }
    /* 滑鼠滾動 進度條 end  */


.home {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    /* 最小高度為 總高 減掉 下方尋覽列高度 */
    min-height: calc(100vh - 6.5rem);

    .image {
            
        flex: 1 1 35rem;
        /* width: 40%; */

        /* 將 div.image 裡的圖img 置中 */
        text-align: center;

        img {
            
            /* img 圖形設寬不設高 */
            width: 30rem;             
            
            /* img 不規則圖形繪製 */
            border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
        }
    }

    .content {
        /* 教學 flex 三個值 flex-grow 、 flex-shrink 、 flex-basis */
        flex: 1 1 42rem;

        h3 {
            color: #fff;
            font-size: 3rem;
            padding-bottom: 0.5rem;
        }

        span {
            font-size: 2rem;
            color: crimson;
            padding: 0.5rem 0;
            display: block;
        }

        p {
            font-size: 1.5rem;
            color: #aaa;
            padding: 1rem 0;
        }
    }

}










.about{

    .container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
        color: #fff;

        .info-container {
            flex: 1 1 42rem;

            h1 {
                font-size: 3rem;
                padding-bottom: 1rem;
            }

            .box-container {
                padding: 1rem 0;
                display: flex;
                flex-wrap: wrap;
                gap: 2rem;

                .box {
                    flex: 1 1 20rem;

                    h3 {
                        font-size: 1.5rem;
                        color: #fff;
                        padding: 1rem 0;
                    }

                    span {
                        color: #aaa;
                        font-weight: lighter;
                    }
                }
            }
        }

        .count-container {
            flex: 1 1 50rem;
            
            display: flex;
            flex-wrap: wrap;
            padding: 0.5rem 1rem;
            gap: 2rem;

            .box {
                flex: 1 1 20rem;
                padding: 1.5rem 2rem;
                border-radius: 0.5rem;
                background: #1a1a1a;
                box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);

                h3 {
                    font-size: 3rem;
                    color: crimson;
                }

                p {
                    padding-top: 1rem;
                    font-size: 1.5rem;
                    color: #aaa;
                }

                &:hover {
                    background-color: crimson;
                }

                &:hover h3,p {
                    color: white;
                }
            }
        }
    }

}






@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 1.5rem;
}



.portfolio {
    text-align: center;

    .box-container {
        @include grid(31rem);
        margin-bottom: 2rem;

        .box {
            height: 30rem;
            overflow: hidden;
            position: relative;

            &:hover {
                .content {
                    transform: translateY(0%);
                }
            }

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

            .content {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background: $light-bg;
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: center;
                padding: 2rem;
                transform: translateY(-100%);
                transition: .2s linear;

                h3 {
                    font-size: 2.5rem;
                    color: $white;
                    text-transform: uppercase;
                    font-weight: normal;
                }

                p {
                    padding: 1rem 0;
                    font-size: 1.5rem;
                    line-height: 2;
                    color: $light-color;
                }

                a {
                    font-size: 2rem;
                    color: $crimson;

                    &:hover {
                        color: $white;
                    }
                }
            }
        }
    }
}

.blogs {

    .box-container {
        @include grid(31rem);

        .box {
            text-align: center;
            padding: 2rem;
            border-radius: .5rem;
            background: $light-bg;
            box-shadow: $box-shadow;

            &:hover .image img {
                transform: scale(1.2);
            }

            .image {
                height: 25rem;
                width: 100%;
                border-radius: .5rem;
                overflow: hidden;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    transition: .2s linear;
                }
            }

            .content {

                .icons {
                    position: relative;
                    top: -1rem;
                    border-radius: .5rem;
                    padding: 1.5rem;
                    display: inline-block;
                    background: $black;

                    a {
                        font-size: 1.4rem;
                        margin: 0 1rem;
                        color: $white;

                        &:hover {
                            color: $crimson;
                        }

                        i {
                            padding-right: .5rem;
                            color: $crimson;
                        }
                    }
                }

                h3 {
                    font-size: 2rem;
                    color: $white;
                    font-weight: normal;
                }

                p {
                    font-size: 1.5rem;
                    color: $light-color;
                    padding: 1rem 0;
                    line-height: 2;
                }
            }
        }
    }
}




.contact {

    .row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;

        .info-container {
            width: 40rem;

            h1 {
                font-size: 3rem;
                text-transform: uppercase;
                color: $white;
                padding-bottom: 1rem;
            }

            p {
                font-size: 1.5rem;
                line-height: 2;
                color: $light-color;
                padding: 1rem 0;
            }

            .box-container {
                padding: 2rem 0;

                .box {
                    display: flex;
                    gap: 2rem;
                    padding: 1rem 0;

                    i {
                        font-size: 3rem;
                        color: $crimson;
                    }

                    h3 {
                        font-size: 2rem;
                        color: $white;
                    }
                }
            }

            .share {

                a {
                    font-size: 2rem;
                    height: 4.5rem;
                    width: 4.5rem;
                    line-height: 4.5rem;
                    border-radius: 50%;
                    background: $light-bg;
                    color: $white;
                    text-align: center;
                    margin-right: .3rem;

                    &:hover {
                        background: $crimson;
                    }
                }
            }
        }

        form {
            flex: 1 1 42rem;

            .inputBox {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                input {
                    width: 49%;
                }
            }

            .inputBox input,
            textarea {
                border-radius: 5rem;
                padding: 1.2rem 1.8rem;
                font-size: 1.6rem;
                color: $white;
                text-transform: none;
                margin: .7rem 0;
                background: $light-bg;
            }

            textarea {
                width: 100%;
                border-radius: 1rem;
                ;
                resize: none;
                height: 25rem;
            }

            .btn {
                padding: 1rem 3rem;
                cursor: pointer;

                &:hover {
                    background: $white;
                    color: $black;
                }
            }
        }
    }
}



@media (max-width: 800px) {
    .navbar{

        a{
            i{
                padding: 0;
            }
            span{
                display: none;
            }

            &:hover{
                padding-bottom: 2rem;
            }
        }
    }
}