
.c-product-item {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 2px solid #cfcfcf;
    border-radius: 20px;
    padding: 20px;
    margin: 30px 0;
}

.c-product-img {
    max-width: 300px;
    min-width: 300px;
}

.c-product-img img {
    border-radius: 20px;
}

.c-product-content {
    padding: 0 40px;
}

.c-product-gallery img {
    max-width: 50px;
    display: inline-block;
}
