
* {
    margin: 0;
    padding: 0;
}

section {
    width: 100%;
    height: 100vh;
}

.header  {
    background: burlywood;
}

.price-work-flow {
    background: lightblue;
}


.s2 {
    background: burlywood;
}

.s3 {
    background: lightblue;
}

